.test-style-less__container--rVy96 {
  color: rgba(0, 255, 0, 0.2);
}
.test-style-less__container--rVy96 .test-style-less__header--333FQ {
  color: #0f0;
  margin: 3rem;
}
body {
  background: #fff;
}
.test-style-scss__container--2SnW- {
  color: rgba(0, 255, 0, 0.2);
}
.test-style-scss__container--2SnW- .test-style-scss__header--31wTw {
  color: #0f0;
  margin: 3rem;
}
